[user]
	email = smarak@kreateworld.in
	name = Thesmader
[core]
	editor = nvim
[init]
	defaultBranch = main
[pull]
	rebase = true
[alias]
        lpn = log --pretty=format:'%Cred%h%Creset %C(yellow)%d%Creset %s %Cgreen(%cr)%Creset - %C(magenta)%cn%Creset' --abbrev-commit --date=relative -n
        pom = push origin main
        ca = commit --amend
